#castCarousel {
    position: relative;
    padding: 0 40px;
}

#castCarousel .carousel-control-prev,
#castCarousel .carousel-control-next {
    width: 40px;
    /* Stała szerokość dla przycisków */
}

#castCarousel .carousel-control-prev {
    left: 0;
    /* Pozycjonuje strzałkę w lewym paddingu */
}

#castCarousel .carousel-control-next {
    right: 95px;
    /* Pozycjonuje strzałkę w prawym paddingu */
}