{% extends "index.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-12 text-center">
        <h1 class="mt-5">{{ _("About") }}</h1>
        <p class="lead">{{ _("Learn more about our passion for movies and how this site was created.") }}</p>
    </div>
</div>

<div class="row justify-content-center mt-4">
    <div class="col-lg-8">
        <h3>{{ _("Our mission") }}</h3>
        <p>{{ _('Welcome to "Movies Library"! We are a group of cinema enthusiasts who decided to create a place where
            you can easily and pleasantly browse a collection of the best, carefully selected titles. Our goal is to
            share our passion for film and make it easier to discover cinematic gems.') }}</p>

        <h3>{{ _("Technology") }}</h3>
        <p>{{ _("This site was created as part of learning and improving programming skills. It was built using modern
            web technologies, including the Flask framework in Python and the Bootstrap library for styling.") }}</p>

        <blockquote class="blockquote mt-4">
            <p class="mb-0">{{ _('"Film is life with the dull bits cut out."') }}</p>
            <footer class="blockquote-footer">Alfred Hitchcock</footer>
        </blockquote>
    </div>
</div>

{% endblock %}