{% extends "index.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-12 text-center">
        <h1 class="mt-5">O serwisie</h1>
        <p class="lead">Dowiedz się więcej o naszej pasji do filmów i o tym, jak powstała ta strona.</p>
    </div>
</div>

<div class="row justify-content-center mt-4">
    <div class="col-lg-8">
        <h3>Nasza misja</h3>
        <p>Witaj w "Bibliotece Filmów"! Jesteśmy grupą entuzjastów kina, którzy postanowili stworzyć miejsce, gdzie
            można w prosty i przyjemny sposób przeglądać kolekcję najlepszych, starannie wyselekcjonowanych tytułów.
            Naszym celem jest dzielenie się pasją do filmu i ułatwienie odkrywania kinematograficznych perełek.</p>

        <h3>Technologia</h3>
        <p>Ta strona została stworzona w ramach nauki i doskonalenia umiejętności programistycznych. Została zbudowana
            przy użyciu nowoczesnych technologii webowych, w tym frameworka Flask w języku Python oraz biblioteki
            Bootstrap do stylizacji.</p>

        <blockquote class="blockquote mt-4">
            <p class="mb-0">"Film to życie, z którego wymazano plamy nudy."</p>
            <footer class="blockquote-footer">Alfred Hitchcock</footer>
        </blockquote>
    </div>
</div>

{% endblock %}